@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sankofa+Display&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-custom {
    @apply font-bold font-roboto mr-8 text-secondary hover:text-black relative;
  }
  
.select-custom, .scope-custom, .input-custom {
  background-color: white; /* Ensure a consistent background color */
  border: 1px solid #c2c2c2; /* Add a standard border */
  padding: 0.5rem 1.5rem 0.5rem 0.5rem; /* Add padding to allow for custom arrow */
  border-radius: 4px; /* Optional: Add border-radius for a consistent look */
  border-color: rgb(209, 213, 219);
  -webkit-appearance: none; /* Remove default styling in WebKit browsers */
  -moz-appearance: none; /* Remove default styling in Firefox */
  appearance: none; /* Standard property to remove default styling */
  font-family: 'Roboto', sans-serif; /* Ensure consistent font */
  background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24" fill="none" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>'); /* Custom arrow as SVG */
  background-repeat: no-repeat;
  background-position: right 0.5rem center; /* Position the arrow on the right side */
  background-size: 12px 12px; /* Size the arrow */
}

/* Focus state */
.select-custom:focus, .input-custom:focus {
  border-color: rgb(209, 213, 219); /* Change border color on focus */
  box-shadow: 0 0 2px rgba(155, 155, 155, 0.5); /* Add subtle shadow on focus */
  outline: none; /* Remove default outline */
}

.select-custom, .input-custom {
  text-indent: 1em;
  width: calc(100% - 1em);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 0.75rem /* 12px */;
  line-height: 1rem /* 16px */;
}

.input-custom {
  background-image: none; /* Remove the arrow */
}

.scope-custom:focus
{
  border:none;
  outline:none;
}

.scope-custom {
  background-color: white; /* Set to your desired background color */
  border:none;
  width:100px;
  height:40px;
  font-size:large;
  padding-left:4px;
}

.input-headers {
  @apply text-xs font-medium font-roboto ml-1 mt-1 xl:mt-0;
}

@media (max-width: 1279px) {
  .input-custom, .select-custom {
    width: 100%;
  }
}

.search-custom {
  @apply border border-spacing-1 rounded-md text-xs font-roboto h-8 w-full;
  text-indent: 1em;
}

.search-custom:focus {
  outline: none; /* Remove default outline */
}

.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease-out;
}

.custom-accordion {
  @apply bg-white border border-spacing-1 my-2;
}