@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sankofa+Display&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-custom {
    @apply font-bold font-roboto mr-8 text-secondary hover:text-black relative;
  }

.input-custom {
  @apply border border-spacing-1 rounded-md text-xs font-roboto h-8 w-auto xl:mt-0 mt-1;
  text-indent: 1em;
  width: calc(100% - 1em);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.input-headers {
  @apply text-xs font-bold font-roboto ml-1 mt-1 xl:mt-0;
}

.input-custom:focus {
  border-color: rgb(194, 194, 194); /* Change border color when focused */
  box-shadow: 0 0 2px rgba(185, 185, 185, 0.5); /* Add a blue shadow */
  outline: none; /* Remove default outline */
}

@media (max-width: 1279px) {
  .input-custom {
    width: 100%;
  }
}

.search-custom {
  @apply border border-spacing-1 rounded-md text-xs font-roboto h-8 w-full;
  text-indent: 1em;
}

.search-custom:focus {
  outline: none; /* Remove default outline */
}

.select-custom:focus {
  outline: none; /* Remove the focus outline */
}

.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease-out;
}

